.tips-background{
    background-color: rgba(64, 64, 64, 0.58);
    position: absolute;
    width:100%;
    height: 100%;
}
.tips-text{
    display: block;
    position: absolute;
    background-color: #E9E9E9;
    min-width: 200px;
    color:#AC0101;
    height: 50px;
    line-height: 50px;
    left: 50%;
    top:50%;
    margin-top: -25px;
    margin-left: -100px;
    border-radius: 5px;
}